<template name="Chat">
  <div class="ibox-title">
    Meteor Chat
    <div class="pull-right">
      {{> loginButtons}}
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">

        <div class="ibox chat-view">

          {{#if currentUser}}
            <div class="ibox-content">

              <div class="row">

                <div class="col-md-9 ">
                  <div class="chat-discussion">
                    {{#each messages}}
                      <!-- MESSAGE CONTEXT -->
                      {{> ChatMessage}}
                    {{/each}}
                  </div>

                </div>
                <div class="col-md-3">
                  <div class="chat-users">

                    <div class="users-list">
                      {{#each users}}
                        {{> ChatUser}}
                      {{/each}}
                    </div>

                  </div>
                </div>

              </div>

              {{> Textarea}}

            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>